In [1]:
import pandas as pd

In [31]:
movies = pd.read_csv('movies.csv') 
ratings=pd.read_csv('ratings.csv')
joined=ratings.merge(movies,on='movieId',how='left')
class_row = joined.pivot_table(index=['title','movieId'],values='rating',aggfunc='mean')
class_row.head()
def classifficaction(rating):
    if rating <= 2:   
            return ('низкий рейтинг')
    elif rating <= 4 and rating > 2:
            return ('средний рейтинг')
    else:
            return ('высокий рейтинг')
class_row['class'] = class_row['rating'].apply(classifficaction)
class_row.head()

                                                   rating            class
title                                   movieId
"Great Performances" Cats (1998)        51372    1.750000   низкий рейтинг
$9.99 (2008)                            74486    3.833333  средний рейтинг
'Hellboy': The Seeds of Creation (2004) 97757    2.000000   низкий рейтинг
'Neath the Arizona Skies (1934)         70121    0.500000   низкий рейтинг
'Round Midnight (1986)                  26564    2.250000  средний рейтинг

In [30]:
keywords = pd.read_csv('keywords.csv') 
keywords.head()
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
d={}
for region in geo_data:
    city = geo_data[region]
    d.update({key:value for key, value in zip(city,[region for i in city])})
keywords['region']=keywords['keyword'].map(d)
keywords['region']=keywords['region'].fillna('undefined')
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined