In [1]:
import pandas as pd
visit_log = pd.read_csv('visit_log.csv',sep=';') 
visit_log.head()
visit_log.loc[(visit_log.traffic_source == 'yandex')| (visit_log.traffic_source == 'google') , 'source_type'] = 'organic'
visit_log.loc[(visit_log.traffic_source == 'paid')| (visit_log.traffic_source == 'email') & (visit_log.region == 'Russia'), 'source_type'] = 'ad'
visit_log.loc[(visit_log.traffic_source == 'paid')| (visit_log.traffic_source == 'email') & (visit_log.region != 'Russia'), 'source_type'] = 'other'
visit_log.loc[visit_log.source_type.isnull(), 'source_type'] = visit_log['traffic_source']
visit_log.head(20)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,other
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,other
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct

In [2]:
import pandas as pd
urls = pd.read_csv('URLs.txt') 
urls.head()
urls[urls.url.str.contains('/[0-9]{8}-', regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [3]:
import pandas as pd
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head(20)
userid_grouped = ratings.groupby('userId').count().reset_index()
userid_grouped=userid_grouped[['userId','rating']]
userid_grouped.head(20)

than_100=userid_grouped[userid_grouped['rating']>100]
than_100.head(20)

rating_max=ratings.groupby('userId').max().reset_index()
rating_min=ratings.groupby('userId').min().reset_index()

rating_max_timestamp=rating_max[['userId','timestamp']]
rating_min_timestamp=rating_min[['userId','timestamp']]

rating_max_timestamp.rename(columns={'timestamp': 'timestamp_max_value'}, inplace=True)
rating_min_timestamp.rename(columns={'timestamp': 'timestamp_min_value'}, inplace=True)
avg_timestamp=than_100.merge(rating_max_timestamp, how='inner').merge(rating_min_timestamp, how='inner')
def average(row):
    mean_time=(row['timestamp_max_value']-row['timestamp_min_value'])
    return mean_time
avg_timestamp['avg']=avg_timestamp.apply(average, axis=1)
len(than_100)==len(avg_timestamp)
avg_timestamp.head(20)

C:\Users\onabo\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    userId  rating  timestamp_max_value  timestamp_min_value        avg
0        4     204            949982274            949778714     203560
1        8     116           1154474527           1154389340      85187
2       15    1700           1469330735            997937239  471393496
3       17     363           1127476640           1127468587       8053
4       19     423            855195373            855190091       5282
5       21     162            854522908            853157476    1365432
6       22     220           1131753381           1131661890      91491
7       23     726           1166728253           1148386124   18342129
8       26     172           1371811577           1351544316   20267261
9       30    1011           1060795346            944943070  115852276
10      33     138           1037009003           1032676792    4332211
11      34     187            973749049            973746214       2835
12      36     104            853005800            847056510    5949290
13      38     111           1449693163           1389721498   59971665
14      41     199           1109817081           1093886586   15930495
15      43     110            974770589            974756704      13885
16      48     513           1439687078           1303371101  136315977
17      56     522           1475567060           1467002940    8564120
18      57     209            907766156            907761833       4323
19      61     166           1217424458           1216050040    1374418

In [4]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base
table=rzd.merge(auto, how='outer', on='client_id')
table=table.merge(air, how='outer', on='client_id')
table.head()
full_table=table.merge(client_base, how='outer', on='client_id')
full_table.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4

In [5]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base
table=rzd.merge(auto, how='outer', on='client_id')
table=table.merge(air, how='outer', on='client_id')
table.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0